# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.so.*
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out
coverage.out
coverage.txt

# Dependency directories
vendor/

# IDEs
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store

# Local config files
config.yaml
hypervisors.yaml
